body{
    font-family: 'Koulen', cursive;
}
/* Navbar */
    #menu-bar{
        z-index: 3;	
        background-color: transparent;   
    }
    #menu{
        width: 35px;
        height: 30px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
    }
    .nav{
        float: right;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        width: 5vw;
        margin: 0 20px;
        transition: .9s ease;
    }
    .bar{
        height: 5px;
        width: 100%;
        background-color: #0096FF;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    #bar1{
        transform: translateY(-4px);
    }
    #bar3{
        transform: translateY(4px);
    }
    .nav li a{
        color: white;
        text-decoration: none;
    }
    .nav li a:hover{
        font-weight: normal;
    }
    .nav li{
        list-style: none;
        padding: 16px 0;
    }
    .menu-bg, #menu-bar{
        top: 0;
        left: 0;
        position: absolute;
    }
    .menu-bg{
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background-color: #0099ff;
        border-radius: 50%;
        transition: 0.3s ease;
    }
    .change-bg{
        width: 550px;
        height: 540px;
        transform: translate(-60%,-30%);
    }
    .change .bar{
        background-color: white;
    }
    .change #bar1{
        transform: translateY(4px) rotateZ(-45deg);
    }
    .change #bar3{
        transform: translateY(-6px) rotate(45deg);
    }
    .change #bar2{
        opacity: 0;
    }
    .change{
        display: block;
    }
/* Body */
    /* Flexbox Body */
    .flex-container {
        display: flex;
        overflow: auto;
    }
    .flex-container > div {
        font-size: 30px;
        width:50vw;
        max-height:100vh;
    }
    .column_left {
        flex-basis: 40vw;
    }
    .top-wave-image{
        display: none;
    }
    .bottom-wave-image{
        display: none;
    }  
    .column_right {
        flex-basis: 60vw;
        text-align: center;
    }
    .about-me-container{
        text-align: center;
    }
    .scroll-div{
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }
        /* Left Section */
        #image-of-me{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    /* Right Section */
            /* Test Css */
        .typing-wrapper {
            align-items: center;
        }  
        .typing{
            width: 100%;
            animation: typing 2s steps(22),
            blink .5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
        }
        @keyframes typing {
            from {
            width: 0
            }
        }
        @keyframes blink {
            50%{
            border-color: transparent
            }
        }
        #title-name{
            font-family: 'Koulen', cursive;
            font-size: 3.5em;
            text-align: center;
        }
        #break-line-below{
            width:100%;
            text-align:left;
            margin-left:0;
            height: 0.5rem;
            color: #0096FF;
            opacity: 1;
        }
        #text-info-titles{
            font-size: 0.9em;
        }
        #about-me{
            font-size: 0.5em;
        }
/* Wave & carousel */
    .top-section{
        padding: 25vh 5vw 5vh 5vw;
    }
    .top-wave{
        position: sticky;
        bottom: 0;
        width: 100%;
    }
    .carousel-container{
        padding: 10vh 5vw 5vh 5vw;
        background-color: #0099ff;
    }
/* Contact Me */
    .contact-section{
        padding: 5vh 26vw 15vh 9vw;
    }
    ul.a {
        list-style-type: circle;
        list-style: none;
    }
    #contact-title{
        font-size: 2cm;
        text-align: left;
        font-family: 'Koulen', cursive;
    }
    .contact-container {
        display: grid;
        grid-template-columns: 10% 90%;
    }
    .contact-item {
        font-size: 20px;
        text-align: left;
    }    
    .left-contact{
        float: right;
    }
/* Footer */
    /* #footer-name{
        font-size: 1rem;
    } */
    hr.contact-hr {
        border-top: 3px solid #0099ff;
    }
    /* hr.footer-hr{
        border-top: 2px solid #fff;
        width: 10vw;
        margin: 1vh auto 2vh auto;
    } */
    .contact-section-responsive{
        display: none;
    }
/* Mobile compatibility */
@media screen and (max-width: 1400px) {
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
    .flex-container > div {
        /* background-color: red; */
        font-size: 30px;
        width:100vw;
        height:50%;
    }
    .column_left {
        background-color: white;
        /* padding: 0vh 0vw 10vh 0vw; */
    }
    .top-section{
        padding: 15vh 5vw 5vh 5vw;
    }
    .top-wave-image{
        display: block;
        background-color: #fff;
    }
    .bottom-wave-image{
        /* display: block; */
        background-color: #fff;
        /* padding: 0vh 0vw 20vh 0vw; */
        z-index: 3;
    }   
    #image-of-me{
        width: 100%;
        height: 80vh;
        object-fit: cover;
        padding: 10vh 20vw 10vh 20VW;
        background-color: #0099ff;
    }
    .column_right {
        height: 50%;
        text-align: center;
        padding: 10vh 10vw 0vh;
    }
    #about-me {
        font-size: .7em;
    }
    .text-info-about {
        font-size: 1.2em;
    }
    #title-name{
        font-family: 'Koulen', cursive;
        font-size: 3em;
    }
    .carousel-container{
        display: none;
    }
    .top-wave{
        display: none;
    }
    .bottom-wave{
        display: none;
    }
    .contact-section{
        display: none; 
    }
    .contact-section-responsive{
        padding: 10vh 20vw 10vh 20vw;
    }
    .footer-responsive{
        /* padding: 10vh 20vw 10vh 20vw; */
    }
}
@media screen and (max-width: 1616px) {
    #title-name{
        font-family: 'Koulen', cursive;
        font-size: 3em;
        text-align: center;
    }
}
@media screen and (max-width: 990px) {
    .typing-wrapper {
        align-items: center;
    }  
    .typing{
        width: 100%;
        animation: typing 2s steps(22),
        blink .5s step-end infinite alternate;
        /* white-space: nowrap; */
        overflow: hidden;
    }
    #title-name{
        font-family: 'Koulen', cursive;
        font-size: 1.2em;
        text-align: center;
    }
    #text-info-titles{
        font-size: 0.6em;   
    }
    .top-section {
        padding: 5vh 5vw 5vh 5vw;
    }
    #about-me {
        font-size: 0.5em;
    }
}