/* === Body and html === */
body, html {
  height: 100%;
  margin: 0;
  /* font-size: 100px; */
  color: #ffffff;
  background-color: #0a192f;
}

/* === Nav Bar === */
.navbar .navbar-nav li a {
  font-size: 30px;
  text-transform: uppercase;
  color:#ffffff;
}

.navbar-container{
  border-style: none;
}

@media (min-width: 768px) {
  .navbar {
    height: 120px;
    background-color: transparent;
  }

  .navbar-nav>li>a {
    padding: 0;
    margin-top: 35px;
    margin-left: 50px;
    line-height: 70px;
  }

  /* Navbar when scrolled */

  .navbar-scroll {
    height: 70px;
  }

  .navbar-scroll #top-social-menu {
    display: none;
    transition: all 0.2s ease-out;
  }

  .navbar-scroll .navbar-brand {
    height: 70px;
    line-height: 70px;
  }

  .navbar-scroll .navbar-nav>li>a {
    opacity: 1;
    padding: 0;
    margin-top: 0;
  }
}

/* # Hover Link Effect
================================ */
@media (min-width: 768px) {
  .navbar-nav>li>a::after {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #5DFFD6;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
  }

  .navbar-nav>li>a:hover::after,
  .navbar-nav>li>a:focus::after {
    height: 2px;
    opacity: 1;
    transform: translateY(0px);
  }
}

/* === Background image === */
.backgroundImage{
  background-image: url("../images/mainPage.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  z-index: 1;
}

/* ==== Div in center box with text of name  ==== */
.center-box-text{
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  font-size: 30px;
  margin-top: 20%;
  text-align: center;
  display:inline;  
  z-index: 2;
}
    /* Button to go down */
.name-highlight{
  color: #5DFFD6;
}

.view-me-button{
  border-style: solid;
  border-color: white;
  background-color: transparent;
  padding: 5px 40px;
}

.view-me-button:hover {
  color: #ffffff;
  background-color: #5DFFD6;
  border-color: #5DFFD6;
  padding: 5px 40px;
}
/* ==== About me section ==== */
.about-me-section{
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #5DFFD6;
  padding-bottom: 100px;
  padding-top: 100px;
}

#about-me-title-box{
  width: 100%;
  margin-bottom: 10px;
  color: #CDD6F3;
  max-height: 100px;
}

#about-me-title{
  font-size: 40px;
  padding:10px;
}

#hr-about-me{
  padding-left: 10px;
  width: 100%;
}

    /* === About me grid === */
.about-me-container {
  display: grid;
  grid-template-columns: 60% 40%;
  /* background-color: red; */
  padding: 10px;
}
.about-me-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #8992AD;
  text-align: left;
}

.image-of-me{
  max-height: 100%;
  max-width: 100%;
}

/* === Time line === */
.timeline-container{
  background-color: #ffffff;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.timeline-title-container{
  margin: auto;
  width: 70%;
  padding-bottom: 10px;
}

#timeline-title{
  text-align: center;
  font-size: 50px;
  color: #4c9c9b;
}
    /* === Scrolling ===  */
.timeline-scroll-box{
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 40% 40% 40%;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  /* adjusts height based on  .timeline-scroll height*/
  height: 100%;
  color: #000;
  font-size: 10px;
}

.grid-container > div {
  padding: 20px 0;
}

.timeline-photos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.timeline-date{
  font-size: 15px;
  color: 4c9c9b;
  padding-left: 10px;
}

.timeline-item{
  color:#4c9c9b;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

/* === Footer === */
.foot-box {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color:#0a192f;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.footer-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.logo-button{
  border-style: solid;
  border-style: white;
  height: 80px;
  width: 80px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}


/* === Grid responsive === */
@media only screen and (max-width: 768px){
  /* Center Box */
  .center-box-text{
    font-size: 20px;
    margin: auto;
    /* width: 50%; */
    margin-top: 200px;
  }

  .about-me-section{
    margin: auto;
    width: 100%;
    text-align: center;
    color: #5DFFD6;
  }

  /*  About me  */
  .about-me-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .about-me-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  #about-me-title{
    font-size: 40px;
  }

  #hr-about-me{
    padding-left: 10px;
    width: 60%;
  }

  
  /*  Time line */
  .grid-container {
    grid-template-columns: 70% 70% 70% 70%;
  }

  /* Footer */
  .footer-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
  }
}