body{
    font-family: 'Koulen', cursive;
}
/* Navbar */
#menu-bar {
    overflow: hidden;
    background-color: #0a192f;
}
#menu-bar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
#menu-bar a:hover {
    background-color: #5DFFD6;
    color: black;
}
#menu-bar a.active {
    background-color: #0096FF;
    color: white;
}
.nav{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Body */
.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #2196F3; */
    height:94.3vh;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
}
#Right-section-div{
    padding: 10vh 5vw 0vh;
    
}
/* Left Section */
#image-of-me{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Right Section */
#title-name{
    font-family: 'Koulen', cursive;
    font-size: 4em;
}
#break-line-above{
    width:100%;
    text-align:left;
    margin-left:0;
    height: 0.5rem;
    color: #0096FF;
    opacity: 1;
}
#text-info-about{
    font-size: 0.5em;
}
#about-me{
    font-size: 0.5em;
}