/* background image info */
body {
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    background-color:#22AAA1;
}
/* Computer Browser */
#menu-bar {
    overflow: hidden;
    background-color: #0a192f;
}
#menu-bar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
#menu-bar a:hover {
    background-color: #5DFFD6;
    color: black;
}
#menu-bar a.active {
    background-color: #0096FF;
    color: white;
}
.nav{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/*  iPhone size */
@media screen and (max-width: 600px) {
    body {
        background-image: url('../images/responsiveBody.png');    
        background-position: center center;
        background-repeat: no-repeat;    
        background-attachment: fixed;
        background-size: cover;
        background-color:#464646;
    }
    #menu{
        width: 35px;
        height: 30px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
    }
    .bar{
        height: 5px;
        width: 100%;
        background-color: #fff;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    #bar1{
        transform: translateY(-4px);
    }
    #bar3{
        transform: translateY(4px);
    }
    .nav li a{
        color: #fff;
        text-decoration: none;
    }
    .nav li a:hover{
        font-weight: normal;
    }
    .nav li{
        list-style: none;
        padding: 16px 0;
    }
    .nav{
        padding: 0;
        margin: 0 20px;
        transition: .9s ease;
        display: none;
    }
    .menu-bg, #menu-bar{
        top: 0;
        left: 0;
        position: absolute;
    }
    .menu-bg{
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle,#0a192f,#0a192f);
        border-radius: 50%;
        transition: 0.3s ease;
    }
    #menu-bar{
        z-index: 2;	
    }
    .change-bg{
        width: 550px;
        height: 540px;
        transform: translate(-60%,-30%);
    }
    .change .bar{
        background-color: white;
    }
    .change #bar1{
        transform: translateY(4px) rotateZ(-45deg);
    }
    .change #bar3{
        transform: translateY(-6px) rotate(45deg);
    }
    .change #bar2{
        opacity: 0;
    }
    .change{
        display: block;
    }
    /* Edits for browser */
    #menu-bar{
        background-color: transparent;
    }
    /* Hover over */
    #menu-bar a:hover {
        background-color: #0a192f;
        color: #fff;
    }
    #menu-bar a.active {
        background-color: #0a192f;
        color: #fff;
    }
}
/* Blog post */
.band {
    width: 100%;
    max-width: 90%;
    margin: 1px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    
}
.line-top{
    width: 100%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}
.line-bottom{
    width: 100%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #d3d3d3;
}
.lang-used{
    padding-top: 1px;
}
@media only screen and (min-width: 500px) {
    .band {
    grid-template-columns: 1fr 1fr;
    }  
    .item-1 {
    grid-column: 1/ span 2;
    }
    .item-1 h1 {
    font-size: 30px;
    }
    #title-name{
    font-size: 20px;
    }
}
@media only screen and (min-width: 850px) {
    .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* card */
.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    border-style: none;
}
.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.card article {
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}
.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}
.card p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
}/* typography */
h1 {
    text-align: left;
    font-size: 20px;
    margin: 0;
    color: #333;
    font-weight: 800;
    /* padding-bottom: 100px; */
    /* background-color: red; */
}
hr.new1 {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}
.description-text{
    font-size: 20px;
    text-align: left;
    font-weight: 50;
}
.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}
/* project list */
.portfolio-container-box{
    margin: auto;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.portfolio-container > div {
    /* background-color: red; */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.card-port{
    /* padding: 10px;
    box-shadow: 10px 10px 5px grey; */
    height: 100%;
    /* background-color: red; */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .portfolio-container-box{
        margin-top: 50px;
    }
}