/* === Body and html === */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 100px;
  color: #ffffff;
  background-color: #E5E5E5;
}

/* === Header & Nav Bar === */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
.head{
    position: absolute;
    top: 0;
    width: 100%;
    height: 8%;
    font-size: 30px;
    z-index: 2;
    background-color: #0a192f;
}
/* 
.test-me{
    border-top: 1px solid red;
    z-index: 1;
} */

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
	width: 100%;
	margin: 0 auto;

}

nav {
  float: right;
  padding-right: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  /* color: #5DFFD6; */
  color: #90FBDC;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ffffff;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* === Title page */
.title-page{
    /* background-color: yellow; */
    margin: auto;
    width: 50%;
    margin-top: 100px;
}

#title-name{
    font-size: 100px;
    color: #0a192f;
    text-align: center;
}

#block-under-title{
    margin: auto;
    width:80%;
    height:10px;
    background-color: #0a192f;
    padding-top: 1px;
    /* margin-bottom: 900px; */
}
 
/* ================================ */
/* html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
} */

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
  .item-1 {
  grid-column: 1/ span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

/* ================================ */

/* project list */
.portfolio-container-box{
    margin: auto;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
}

  
.portfolio-container > div {
    /* background-color: red; */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.card-port{
    /* padding: 10px;
    box-shadow: 10px 10px 5px grey; */
    height: 100%;
    /* background-color: red; */
}



/* === Footer === */
.foot-box {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color:#0a192f;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.footer-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.logo-button{
  border-style: solid;
  border-style: white;
  height: 80px;
  width: 80px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

