/* background image info */
body {
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
}
/* Computer Browser */
#menu-bar {
    overflow: hidden;
    background-color: #0983d9;
}
#menu-bar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
#menu-bar a:hover {
    background-color: #5DFFD6;
    color: black;
}
#menu-bar a.active {
    background-color: #0096FF;
    color: white;
}
.nav{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/*  iPhone size */
@media screen and (max-width: 600px) {
    body {
        /* background-image: url('../images/responsiveBody.png');     */
        background-position: center center;
        background-repeat: no-repeat;    
        background-attachment: fixed;
        background-size: cover;
        /* change background */
        background-color:#0a192f;
    }
    #menu{
        width: 35px;
        height: 30px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
    }
    .bar{
        height: 5px;
        width: 100%;
        background-color: #fff;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    #bar1{
        transform: translateY(-4px);
    }
    #bar3{
        transform: translateY(4px);
    }
    .nav li a{
        color: #fff;
        text-decoration: none;
    }
    .nav li a:hover{
        font-weight: normal;
    }
    .nav li{
        list-style: none;
        padding: 16px 0;
    }
    .nav{
        padding: 0;
        margin: 0 20px;
        transition: .9s ease;
        display: none;
    }
    .menu-bg, #menu-bar{
        top: 0;
        left: 0;
        position: absolute;
    }
    .menu-bg{
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle,#0a192f,#0a192f);
        border-radius: 50%;
        transition: 0.3s ease;
    }
    #menu-bar{
        z-index: 2;	
    }
    .change-bg{
        width: 550px;
        height: 540px;
        transform: translate(-60%,-30%);
    }
    .change .bar{
        background-color: white;
    }
    .change #bar1{
        transform: translateY(4px) rotateZ(-45deg);
    }
    .change #bar3{
        transform: translateY(-6px) rotate(45deg);
    }
    .change #bar2{
        opacity: 0;
    }
    .change{
        display: block;
    }
    /* Edits for browser */
    #menu-bar{
        background-color: transparent;
    }
    /* Hover over */
    #menu-bar a:hover {
        background-color: #0a192f;
        color: #fff;
    }
    #menu-bar a.active {
        background-color: #0a192f;
        color: #fff;
    }
}
/* Top half of resume from image to text*/
.top-half{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    background-color: #fff;
    padding-top:100px;
    padding-left: 100px;
    padding-right: 100px;
}  
.top-half > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}
/* left side of container */
.left-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #272830;
    padding: 1px;
}
.left-items {
    padding: 2px;
    font-size: 30px;
    text-align: right;
}
        /* Image on the left side */
.image-container{
    max-width:100%;
    max-height:100%;
}
.contact-section{
    text-align: right;
    padding-right: 10px;    
}
.logo-container {
    display: grid;
    grid-template-columns: auto auto;
}
.logo-item-left{
    padding: 20px;
    font-size: 30px;
    text-align: right;
}
.phone-email-title{
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    color:white;
}
.phone-email-name{
    font-size: 20px;
    color:white;
}
.logo-item{
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding-top: 25px;
}
.circle-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color:#fff;
    border-width: 2px;
}
/* Education */
.Education-block{
    width: 100%;
    height: 50px;
    background: #bda241;
    margin-bottom: 20px;
}
#text-ed{
    padding-right: 10px;    
}
.title-degree{
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    color:white;
    padding-right: 10px;
}
.degree-name{
    font-size: 20px;
    color:white;
    padding-right: 10px;
    margin-bottom: 0px;
}
.school-name{
    font-size: 20px;
    color:white;
    padding-right: 10px;
    margin-bottom: 30px;
}
/* Right side of top container  */
.right-container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: #22AAA1;
    padding: 10px;
    color: #fff;
}
.right-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    grid-template-rows: auto auto;
    text-align: center;
    font-size: 30px;
}
.top-right-side{
    padding-top: 10px;
    padding-bottom: 10px;
}
.Experience-box{
    /* background-color: red; */
    padding-left: 20px;
}
/*  Resizing left side*/
@media screen and (max-width: 600px) {

}
/* Name section */
#my-name{
    padding-top: 14px;
    font-size: 90px;
    color:#fff;
}
.block-text{
    width: 100%;
    height: 50px;
    padding-right: 0px;
    background: #fff;
    color:#22AAA1;
    padding-left: 10px;
    padding-right: 10px;
}
.line{
    width: 100%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    padding-top: 1px;
    border-bottom: 5px solid white;
}
.section-title{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    /* padding: 20px; */
}
#profile-text{
    margin-top:20px;
    font-size: 20px;
}
@media screen and (max-width: 1000px) {
    .top-half{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        background-color: #fff;
        padding: 10px;
        margin-top: 90px;
    }  
}
/* Experience jobs list */
.jobs-container {
    display: grid;
    grid-template-columns: 30% 70%;
    /* background-color: #2196F3; */
}
.jobs-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.company-name{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.time-working{
    font-size: 20px;
    text-align: left;
}
.position{
    font-size: 20px;
    text-align: left;
}
ul.bullet-points {
    list-style-type: circle;
}
.bullet-points{
    font-size: 20px;
    text-align: left;
}











/* === skills-container === */
.bottom-container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: #0a192f;
    padding-left: 100px;
    padding-right: 100px;
}
.bottom-container> div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}
.line-skills{
    width: 100%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    padding-top: 1px;
    border-bottom: 1px solid #fff; 
}
.skills-background{
    background-color: #0a192f;
    color: #fff;
}
.skills-box{
    margin: auto;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.skills-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
}   
.skills-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: left;
    color: #fff;
}
.skills-item-right{
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 25px;
    text-align: right; 
}
.experiences-title{
    padding-bottom: 5px;
}
.skills-title{
    font-size: 60px;
}
.checked {
    color: #4c9c9b;
}
.white{
    color:white;
}
/* === skills-container-responsive === */
@media only screen 
    and (max-width: 768px){
    .skills-container {
        grid-template-columns: 100%;
    }   
    .skills-item {
        text-align: center;
    }
    .skills-item-right{
        text-align: center;
    }   
    .resume-container {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
        padding: 10px;
        color: #000000;
        margin-bottom: 20px;
    }  
    .relevant-coursework-container{
            padding-bottom: 40px;
    }
    .company-title{
            font-size: 15px;
    }
    .relevant-coursework{
            font-size: 20px;
    }
    .skills-box{
        margin: auto;
        width: 80%;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .bottom-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        background-color: #0a192f;
        padding-left: 10px;
        padding-right: 10px;
    }
}