/* ==== Image ==== */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 100px;
  color: #ffffff;
  max-width: 100%;
}

.backgroundImage{
  background-image: url("../images/mainPage.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

/* ==== Div in image ==== */
.center-box-text{
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  font-size: 30px;
  /* background-color: red; */
  margin-top: 10%;
  text-align: center;
  display:inline;  
  z-index: 2;
}

#my-name{
  font-size: 50px
}

/* ==== Header & Nav Bar ==== */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
.head{
    position: absolute;
    top: 0;
    width: 100%;
    height: 8%;
    font-size: 30px;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
  padding-right: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #4c9c9b;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ffffff;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* ==== Center name ==== */
.box-in-middle{
  position: absolute;
  top: 0;
  width: 100%;
  height: 8%;
  font-size: 30px;
  margin-top: 100px;
}

#my-name{
  text-align: center;
  font-size: 100px;
}

.names-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
  padding: 10px;
}

.names-container> div {
  text-align: center;
  font-size: 30px;
}

/* === Resume part === */
  /* Carrer */
.experiences-box{
  margin: auto;
  max-width: 70%;
}

.experiences-title{
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  color: #4c9c9b;
}

.eductation-container{
  font-size: 30px;
  color:#000000;
  margin-bottom: 10px;
}

.education-box{
  margin-top: 100px;
  margin-bottom: 100px;
}
hr{
  color: blue;
}

.resume-container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 10px;
  padding: 10px;
  color: #000000;
  margin-bottom: 20px;
}

.resume-container > div {
  text-align: left;
  font-size: 30px;
  padding-top: 0px;
}

#date-text{
  font-size: 20px;
  padding-top: 20px;
}
.resume-list {
  list-style-type: circle;
  float: left;
  font-size: 20px;
}
/* === Honor section ===*/

.honor-container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 20px;
}

.honor-container > div {
  text-align: center;
  padding-top: 0px;
}
.honor-name{
  font-size: 35px;
  text-decoration: underline;
}
.honor-info-text{
  font-size: 25px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.image-slide-one{
  margin: auto;
  height: auto;
  max-width: 40%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.image-slide-two{
  margin: auto;
  height: auto;
  max-width: 10%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.image-slide-three{
  margin: auto;
  height: auto;
  max-width: 30%;
  padding-bottom: 10px;
  padding-top: 0px;
}
    /* ============================ */
    /* ==== Slideshow container ====*/
    /* ============================ */

* {box-sizing: border-box}

.slideshow-container {
  margin: auto;
  position: relative;
  background: #4c9c9b;
  max-height: 600px;
  max-width: 90%;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  font-size: 30px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 10px;
    /* background: #ddd; */
    max-height: 100px;
    padding-top: 0px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}


/* ==== Go down button ==== */
.go-down{
  height: 80px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: #ffffff;
  text-align: center;
  z-index: 6;
  border: none;
}


/* === relevant-coursework === */
.relevant-coursework{
 font-size: 30px;
 text-align: center;
}

.relevant-coursework-container{
  color: #000000;
}
/* === skills-container === */
.skills-background{
  background-color: black;
}
.skills-box{
  margin: auto;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.skills-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* background-color: #2196F3; */
  padding: 10px;
}

.skills-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.skills-item-right{
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: right; 
}

.checked {
  color: #4c9c9b;
}

.white{
  color:white;
}

/* === Vertical Nav Bar === */
.sticky {
  position: fixed;
  position:sticky;
  top: 0;
  background-color: yellow;
  font-size: 20px;
  width: 110px;
  float:right;
  right: 5%;
  top: 0px;
  /* position: absolute; */
}

.btn-group .button {
  background-color: #222222; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
  width:100%;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #4c9c9b;
}

/* container box */
.certificates-container{
  background-color: red;
  padding: 0;
}

.certificates-container-title{
  margin: auto;
  width: 70%;
}

#certificates-title{
  color: #4c9c9b;
  text-align: center;
  font-size: 50px;
}


/* === Footer === */
.foot-box {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color:#0a192f;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.footer-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.logo-button{
  border-style: solid;
  border-style: white;
  height: 80px;
  width: 80px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
